<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>Profile</title>
  <meta charset = "UTF-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> 
<link href="{{ url_for('static', filename='css/dashboard.css') }}"rel="stylesheet">
</head>

<body style="background-color:#f2f2f2;">
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">User name</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Timeline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Analytics</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Profile <span class="sr-only">(current)</span></a>
              <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Username</h4>
              <div class="text-muted">ur @</div>
            </div>
            </li>
            <li class="nav-item">
              <a class="nav-link"><strong>Bio</strong> The highest form of human intelligence is to observe yourself without judgement</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Followers 1313</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Following 1334 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Tweets 2442</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Favourited Tweets 4242</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"> Website </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Created : 2012-03-03 17:37:57 </a>
            </li>
          </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <h1>Top Friends</h1>

          <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
              <img src="/static/images/user.png" width="180" height="200" alt="Generic placeholder thumbnail">
              <h4>someone you follow</h4>
              <div class="text-muted">Username</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="/static/images/user.png" width="180" height="200" alt="Generic placeholder thumbnail">
              <h4>someone you follow</h4>
              <div class="text-muted">Username</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="/static/images/user.png" width="180" height="200" alt="Generic placeholder thumbnail">
              <h4>someone you follow</h4>
              <div class="text-muted">Username</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="/static/images/user.png" width="180" height="200" alt="Generic placeholder thumbnail">
              <h4>someone you follow </h4>
              <div class="text-muted">Username</div>
            </div>

          </section>

          <h2>Your Tweets</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Tweet</th>
                  <th>likes</th>
                  <th>source</th>
                  <th>location</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="40" height="40" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"> <br>@<br>username </td>
                  <td>There cannot be peace without great suffering. The greater tje suffering, the greater the peace.</td>
                  <td>9765</td>
                  <td>tweeted from iphone</td>
                  <td>Trinidad & Tobago</td>
                </tr>
                <tr>
                  <td><img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="40" height="40" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"> <br>@<br>username </td>
                  <td>There cannot be peace without great suffering. The greater tje suffering, the greater the peace.</td>
                  <td>9765</td>
                  <td>tweeted from iphone</td>
                  <td>Trinidad & Tobago</td>
                </tr>
                <tr>
                  <td><img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="40" height="40" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"> <br>@<br>username </td>
                  <td>There cannot be peace without great suffering. The greater tje suffering, the greater the peace.</td>
                  <td>9765</td>
                  <td>tweeted from iphone</td>
                  <td>Trinidad & Tobago</td>
                </tr>
               
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>



  {% block content %}
  {% endblock %} 
  
</body>
</html>

