<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>Profile</title>
  <meta charset = "UTF-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> 
<link href="{{ url_for('static', filename='css/dashboard.css') }}"rel="stylesheet">
</head>

<body style="background-color:#f2f2f2;">
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <a class="navbar-brand" href="#">{{user.username}}</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/timeline">Timeline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/analytics">Analytics</a>
          </li>
        </ul>
      </div>
    </nav>

    <nav class="navbar nsticky-top navbar-dark bg-primary fixed-top">

      <a class="navbar-brand" href="#">{{user.username}}</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/timeline">Timeline</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/analytics">Analytics</a>
          </li>
        </ul>
      </div>
</nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Profile <span class="sr-only">(current)</span></a>
              <div class="col-6 col-sm-3 placeholder">
              <img src="{{user.profilepic}}" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>{{user.username}}</h4>
              <div class="text-muted">{{user.at}}</div>
            </div>
            </li>
            <li class="nav-item">
              <a class="nav-link"><strong>Bio :</strong>{{user.bio}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Followers {{user.followers}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Following {{user.following}} </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Tweets {{user.tweets}}</a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Favourited Tweets {{user.favtweets}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{user.Website}}"> Website </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
          </ul>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">{{datecreated}} </a>
            </li>
          </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <h1>Top Friends</h1>
            
          <section class="row text-center placeholders">
            
              <div class="col-6 col-sm-3 placeholder">
              <img src="{{user.friendurl}}" width="120" height="150" alt="Generic placeholder thumbnail">
              <h4>{{user.friendname}}</h4>
              <div class="text-muted">{{user.friendat}}</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <div class="text-muted">{{user.friendtweet}}</div>
            </div>
          </section>

          <h2>Your Tweets</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Tweet</th>
                  <th>likes</th>
                  <th>source</th>
                  <th>location</th>
                </tr>
              </thead>
              <tbody>

                {% for f in user.hometweets %}
                    <tr>
                      <td><img src="{{f.user.profile_image_url_https}}" width="40" height="40" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail"> <br>@{{f.user.screen_name}}<br>{{f.name}} </td>
                    <td><br>{{f.text}}</td>
                    <td>{{f.favorite_count}}</td>
                    <td>{{f.source}}</td>
                    <td>{{f.user.location}}</td>
                  </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
        </main>
      </div>
    </div>
  
</body>
</html>

