{% extends "analytics.html" %}

{% block content %} 

<h2 style="position: relative;margin-left: 40%"> Tweets from over the Carribean</h2>
<br>
<table class="table table-striped able-sm table-bordered tweettable" id="myTable" style="position: relative;margin-left: 35%">
        <thead>
           
            <tr>
                <th>Tweet</th><th>Location</th>
            </tr>
        </thead>
            <tr>
                <td scope="row">lolol Omg this is ridiculus but it works yay </td>
                <td scope="col" >Tweeted from iphone</td>
            </tr>
            <tr>
                <td scope="row">lolol Omg this is ridiculus but it works yay </td>
                <td scope="col" >Tweeted from iphone</td>
            </tr>
 </table>

 {% endblock %}